@import url('./fonts.css');
@import url('./reset.css');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Apple SD Gothic';
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
}
